<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<title>Fedora Online.it</title>
</head>
<body>

<div class="container-fluid">

<img src="/sites/default/files/logofol_0_0.jpg">

  
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3c6eb4;">
<!--    <a class="navbar-brand" href="#">Fedora Online</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="//forum.fedoraonline.it">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="//doc.fedoraonline.it">Documentazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kiwiirc.com/client/irc.freenode.net/?nick=fedoriano|?#fedora-it" target="_blank">Chat</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fedora Project
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://getfedora.org/it/">Scarica fedora</a>
            <div class="dropdown-divider"></div>
            <i class="ml-2">Risorse in lingua inglese</i>
            <a class="dropdown-item" href="https://doc.fedoraproject.org/">Documentazione ufficiale</a>
            <a class="dropdown-item" href="https://fedoramagazine.org/">Fedora Magazine</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>  
  
  <div class="row mt-3">
    <div class="col-sm-3">
      <h2>Social e Telegram</h2>
      <p style="display: flex; justify-content: space-around;">
        <a href="https://www.facebook.com/fedoraonline"><i class="fab fa-3x fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://twitter.com/FedoraOnline"><i class="fab fa-3x fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/u/0/communities/107468696249989523000"><i class="fab fa-3x fa-google-plus-square" aria-hidden="true"></i></a>
        <a href="https://t.me/FedoraItalia"><i class="fab fa-3x fa-telegram" aria-hidden="true"></i></a>
      </p>
      <h2>Ultime notizie</h2>
      <ul>
        {% for post in site.posts limit:5 %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a><br>
            <small>{{ post.date | date: "%d/%m/%Y" }}</small>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      {{ content }}
    </div>
    <div class="col-sm-3">
      <h2>Scarica Fedora</h2>
      <img class="img-fluid" src="https://fedoramagazine.org/wp-content/uploads/2018/04/fedora28-816x345.jpg" alt="f28 logo">
      <p>Puoi scaricare Fedora gratuitamente premendo su:</p>
      <a class="btn btn-primary" href="https://getfedora.org/it/" role="button">Scarica Fedora 28</a>
    </div>
  </div>

<!--
  <div class="row">
    <div class="col-sm">
      <iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=fedoriano|?#fedora-it" style="border:0; width:100%; height:450px;"></iframe>
    </div>
  </div>
-->

  <div class="row">
    <div class="col-sm">
      <div class="alert alert-dark" role="alert">
        Il Fedora Project è mantenuto dalla comunità e sponsorizzato da Red Hat.<br>
        FedoraOnLine è mantenuto dalla comunità, ma non è affiliato in alcun modo al Fedora Project; di conseguenza Red Hat non è responsabile dei contenuti.
      </div>
  </div>
</div>

<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="static/rss.js"></script>

</body>
</html>
